[submodule "vendor/mame4all-pi"]
	path = vendor/mame4all-pi
	url = https://github.com/RetroPie/mame4all-pi.git
[submodule "vendor/mame2003-plus"]
	path = vendor/mame2003-plus
	url = https://github.com/libretro/mame2003-plus-libretro.git
[submodule "vendor/lrmame"]
	path = vendor/lrmame
	url = https://github.com/libretro/mame.git
[submodule "vendor/asmjit-a32"]
	path = vendor/asmjit-a32
	url = https://github.com/asmjit/asmjit.git
	branch = a32_port
